h1 {
  color: tomato;
  text-align: center;
  font-size: 3em;
}
p {
  text-align: center;
  font-size: 1.5em;
}
a {
  color: tomato;
  font-size: 1.25em;
}
div {
  text-align: center;
  margin-top: 5px;
  font-size: 1.5em;
}
form {
  margin: 150px;
}
body {
  background-color: beige;
}
